<p>
  Component C works!
</p>
<div>
  <a [routerLink]="['/b']">Go to B</a>
  <br/>
  <a [routerLink]="['/c']">Go to C</a>
</div>


<div>
  <div>Trying to load data from an external source</div>
  <form>
    <label>URL</label>
    <select name="url" #urlSelect (change)="onChangeUrl($event, urlSelect.value)">
      <option value=""> - </option>
      <option value="https://github.com/wildfly/wildfly/pull/12151">WildFly PR</option>
      <option value="https://github.com/overbaard/overbaard/pull/98">Overbård PR</option>
      <option value="https://dagbladet.no">Dagbladet</option>
    </select>
  </form>
</div>
<div *ngIf="url">
  <div>{{url}}</div>
  <iframe [src]="url"></iframe>
</div>
