/<a [routerLink]="['/admin']">admin</a>/{{(organisation ? organisation.name : 'new')}}

<h1>Organisation Info</h1>
<form [formGroup]="orgForm" (ngSubmit)="onSaveOrg()">
  <div class="form-container">
    <div class="form-field">
      <mat-form-field>
        <mat-label>Organisation Name</mat-label>
        <input matInput
               name="name"
               [required]="true"
               formControlName="name">
        <!--<mat-hint *ngIf="edit">GitHub organisation name</mat-hint>-->
      </mat-form-field>
    </div>
    <div class="form-field">
      <mat-form-field>
        <mat-label>Draft PR repo Name</mat-label>
        <input
          matInput
          name="org_name"
          [required]="true"
          formControlName="toolPrRepo">
        <!--<mat-hint *ngIf="edit">The repo must be in the org</mat-hint>-->
      </mat-form-field>
    </div>
    <div class="form-button-row">
      <span class="space-filler"></span>
      <div *ngIf="editOrg">
        <a
          (click)="onCancelOrg($event)"
          mat-raised-button
          color="accent"
        >Cancel</a>
        <button
          [disabled]="!canSaveOrg()"
          type="submit"
          mat-raised-button
          color="primary"
        >Save</button>
      </div>
      <div *ngIf="!editOrg">
        <a
          type="submit"
          (click)="editOrg = true"
          mat-raised-button
          [disabled]="!!canEditOrg()"
          color="primary"
        >Edit</a>
      </div>
    </div>
  </div>
</form>
<div *ngIf="!create">
  <h2>Mirrored Repositories</h2>
  <mat-accordion>
    <mat-expansion-panel
      *ngFor="let repo of organisation.mirroredRepositories"
      (opened)="onOpenRepository(repo)"
      (closed)="onCloseRepository(repo)"
    >
      <mat-expansion-panel-header>
        {{repo.upstreamOrganisation}}/{{repo.upstreamRepository}}
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <app-repository-info-view
          [organisation]="organisation"
          [repository]="activeRepository"
          (modifiedRepository)="onModifiedRepository($event)"
          ></app-repository-info-view>
      </ng-template>
    </mat-expansion-panel>
  </mat-accordion>

  <h2>Organisation Admins</h2>
  TODO
</div>





